<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Users</title>

</head>
<body>
<div>
  <h2>All my Users</h2>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Suname</th>
      <th>Age</th>
      <th>Username</th>
      <th>Password</th>
      <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
      <td th:text="${user.name}"/>
      <td th:text="${user.surname}"/>
      <td th:text="${user.age}"/>
      <td th:text="${user.username}"/>
      <td th:text="${user.password}"/>
      <td><a th:href="'admin/edit-user?id='+${user.id}">Edit</a></td>
      <td><a th:href="'admin/delete-user?id='+${user.id}">Delete</a></td>

    </tr>
    </tbody>
  </table>
  <p></p>
  <input type="button" value="Create User"
         onclick="window.location.href = '/admin/new'">
  <input type="button" value="Logout"
         onclick="window.location.href = '/logout'">

</div>
</body>
</html>
