<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>

</head>
<body>
<h2>Update INFO</h2>
<form action="#" th:action="@{/admin/edit-user}" th:object="${user}" method="post">
  <input hidden="hidden" type="number" th:field="*{id}" id="idAdd" placeholder="id">
  <label for="username">Username</label>
  <input type="text" th:field="*{username}" id = "username" placeholder="username">
  <p></p>
  <label for="password">Password</label>
  <input type="text" th:field="*{password}" id = "password" placeholder="password">
  <p></p>
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id = "email" placeholder="email">
  <p></p>
  <label>
    <select size="3" name="role" id="roles" multiple="multiple">
      <option disabled>Roles:</option>
      <option value="ROLE_ADMIN">ADMIN</option>
      <option selected value="ROLE_USER">USER</option>
    </select>
  </label>
  <p></p>
  <input type="submit" value="Update User">
  <p></p>

</form>
</body>
</html>