<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>

</head>
<body>
<div>
    <h2>User page</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.name}"/>
            <td th:text="${user.surname}"/>
            <td th:text="${user.age}"/>
            <td th:text="${user.username}"/>


        </tr>
        </tbody>
    </table>
    <p></p>
    <input type="button" value="Logout"
           onclick="window.location.href = '/logout'">

</div>
</body>
</html>
